{% extends 'base.html' %}
{% block title %}Об авторе{% endblock title %}
{% block content %}

<div class="container col-lg-6 col-md-10 col-sm-12">
  <div class="display-2 text-center py-3">
    <h2>Об авторе</h2>
  </div>

  <div>
    <p class="fs-5 text" style="text-indent: 40px" align="justify">
      Меня зовут Ярослав.
    </p>

    <p class="fs-5 text" style="text-indent: 40px" align="justify">
      У меня высшее юридическое образование 
      (бакалавриат и магистратура), почти два года работал
      в Министерстве юстиции Российской Федерации.
    </p>

    <p class="fs-5 text" style="text-indent: 40px" align="justify">
      Однако с самого детства меня интересовали технологии,
      компьютеры и всё, что с ними связано.
      В подростковом возрасте я пытался заниматься
      программированием в качестве хобби, но учёба в школе
      и в университете занимали всё свободное время.
      В какой-то момент я смирился с тем, что стать программистом
      у меня не удастся, поскольку для получения образования
      пришлось выбрать другую профессию - юрист (математика и физика в школе
      у меня совсем не получались, просто не сдал бы ЕГЭ для поступления
      в технический ВУЗ).
    </p>

    <p class="fs-5 text" style="text-indent: 40px" align="justify">
      В 24 года, я осознал, что всё же хочу
      бросить всё (чего бы это ни стоило) и стать программистом.
    </p>

    <p class="fs-5 text" style="text-indent: 40px" align="justify">
      Данный сайт создан в рамках обучения на Яндекс.Практикуме.
      Это стало возможным благодаря поддержке моей семьи
      (жены, родитей, брата и его жены).
      Дальше будет только лучше!
    </p>

    <p class="fs-5 text" style="text-indent: 40px" align="justify">
      Спасибо, что прочитали это!
    </p>
  </div>
</div>
{% endblock content %}