{% extends 'base.html' %}

{% block title %}
{% if is_edit %}
  Редактировать запись
{% else %}
  Добавить запись
{% endif %}
{% endblock title %}

{% block content %}

  <div class="container py-5">
    {% if is_edit %}
      {% url 'posts:post_edit' post.id as action_url %}
      {% include 'includes/form_work.html' with card_header='Редактировать запись' button_text='Сохранить' action_url=action_url %}
    {% else %}
      {% url 'posts:post_create' as action_url %}
      {% include 'includes/form_work.html' with card_header='Добавить запись' button_text='Добавить' action_url=action_url %}
    {% endif %}
  </div>

{% endblock content %}