{% extends 'base.html' %}
{% block title %}Пост {{ post.text|truncatechars:27 }}{% endblock title %}
{% block content %}
  {% load thumbnail %}
  <div class="container col-lg-6 col-md-10 col-sm-12 py-5">
    <h1 class="mb-5 pb-2 border-bottom border-dark text-center">
      Пост {{ post.text|truncatechars:27 }}
    </h1>
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush border rounded">
          <li class="list-group-item">
            Дата публикации:<br>{{ post.created|date:"d E Y" }}
          </li>
          <li class="list-group-item">
            Автор: {{ post.author.get_full_name }} {{ post.author.get_username }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора: <span>{{ post.author.posts.count }}</span>
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        {% load thumbnail %}
        <div class="card text-bg-dark my-2">
          {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
            <img class="card-img img-fluid" src="{{ im.url }}">
          {% endthumbnail %}

          <div class="card-body">
            <p>{{ post.text|linebreaks }}</p>
          </div>

          <div class="card-footer">
            <div class="btn-toolbar justify-content-center pt-3">
              <div class="btn-group flex-wrap">
                <a href="{% url 'posts:profile' post.author.username %}" class="btn btn-dark btn-outline-light">
                  все посты пользователя
                </a>
                {% if post.group %}
                  <a href="{% url 'posts:group_list' post.group.slug %}" class="btn btn-dark btn-outline-light">
                    все записи группы "{{ post.group.title }}"
                  </a>
                {% endif %}
                {% if post.author.username == request.user.username %}
                  <a class="btn btn-dark btn-outline-light" href="{% url 'posts:post_edit' post.id %}">
                    редактировать запись
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% load user_filters %}
        {% for comment in comments %}
          <div class="media my-4">
            <div class="media-body">
              <h5 class="mt-0">
                <a href="{% url 'posts:profile' comment.author.username %}">
                  {{ comment.author.username }}
                </a>
              </h5>
              <p>
                {{ comment.text }}
              </p>
            </div>
          </div>
        {% endfor %}
        {% if user.is_authenticated %}
          <hr>
          <div class="card my-4">
            <h5 class="card-header">Добавить комментарий:</h5>
            <div class="card-body">
              <form method="post" action="{% url 'posts:add_comment' post.id %}">
                {% csrf_token %}      
                <div class="form-group mb-2">
                  {{ form.text|addclass:"form-control" }}
                </div>
                <button type="submit" class="btn btn-dark">Отправить</button>
              </form>
            </div>
          </div>
        {% endif %}
      </article>
    </div>
  </div>

{% endblock content %}