{% extends 'base.html' %}
{% block title %}Профайл пользователя {{ profile.get_full_name }}{% endblock title %}
{% block content %}

  <div class="container py-5">
    <div class="border-bottom border-dark mb-5">
      <h1>Все посты пользователя {{ profile.get_full_name }}</h1>
      <h3>Всего постов: {{ profile.posts.count }}</h3>
      <h3>Всего подписок: {{ profile.follower.count }}</h3>
      <h3>Всего подписчиков: {{ profile.following.count }}</h3>
      {% if request.user != profile and request.user.is_authenticated %}
        {% if following %}
          <a
            class="btn btn-lg btn-light mb-3"
            href="{% url 'posts:profile_unfollow' profile.username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
          <a
            class="btn btn-lg btn-primary mb-3"
            href="{% url 'posts:profile_follow' profile.username %}" role="button"
          >
            Подписаться
          </a>
        {% endif %}
      {% endif %}
    </div>

    {% for post in page_obj %}
      {% include 'includes/posts/post_article.html' with group_posts_button=True %}

      {% if not forloop.last %}<hr>{% endif %}

    {% endfor %}

    {% include 'includes/posts/paginator.html' %}

  </div>

{% endblock content %}