{% extends 'base.html' %}
{% block title %}Войти{% endblock %}
{% block content %}
{% url 'users:login' as action_url %}
{% include 'includes/form_work.html' with card_header='Войти на сайт' action_url=action_url %}
          <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-primary">
              Войти
            </button>
            <a href="{% url 'users:password_reset' %}" class="btn btn-link">
              Забыли пароль?
            </a>
          </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}