{% extends 'base.html' %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
{% url 'users:password_change' as action_url %}
{% include 'includes/form_work.html' with card_header='Изменить пароль' action_url=action_url %}
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Изменить пароль
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
{% endblock %}